body{
    background-color: azure;
}
h1 {
    text-align: center;
    background-color: aqua;
    width: 100%;
    padding: 0%;
    height: 50px;
    margin-top: 0%;

}


/* .s1{
    background-color: antiquewhite;
    height: 100cm;
    margin-top: 1px;
    margin-left: 2cm;
    margin-right: 2cm;

}
.Intr{
    
    /* background-color: b */
/* } */ 